body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(229, 57, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u119 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:252px;
  top:17px;
  width:440px;
  height:37px;
}
#u120_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:446px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:42px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  color:#FFFFFF;
}
#u122_img.mouseOver {
}
#u122.mouseOver {
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u124 {
  position:absolute;
  left:160px;
  top:0px;
  width:130px;
  height:37px;
  color:#FFFFFF;
}
#u124_img.mouseOver {
}
#u124.mouseOver {
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u126 {
  position:absolute;
  left:290px;
  top:0px;
  width:150px;
  height:37px;
  color:#FFFFFF;
}
#u126_img.mouseOver {
}
#u126.mouseOver {
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:37px;
  width:170px;
  height:135px;
  visibility:hidden;
}
#u128_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:141px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:140px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
  text-align:left;
}
#u130_img.mouseOver {
}
#u130.mouseOver {
}
#u131 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u132 {
  position:absolute;
  left:0px;
  top:43px;
  width:170px;
  height:43px;
  text-align:left;
}
#u132_img.mouseOver {
}
#u132.mouseOver {
}
#u133 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u134 {
  position:absolute;
  left:0px;
  top:86px;
  width:170px;
  height:49px;
  text-align:left;
}
#u134_img.mouseOver {
}
#u134.mouseOver {
}
#u135 {
  position:absolute;
  left:8px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:100px;
  top:21px;
  width:115px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:949px;
  top:17px;
  width:151px;
  height:37px;
}
#u138_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:157px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  color:#FFFFFF;
}
#u140_img.mouseOver {
}
#u140.mouseOver {
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
