body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(229, 57, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u162 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:252px;
  top:17px;
  width:440px;
  height:37px;
}
#u163_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:446px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:42px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  color:#FFFFFF;
}
#u165_img.mouseOver {
}
#u165.mouseOver {
}
#u166 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u167 {
  position:absolute;
  left:160px;
  top:0px;
  width:130px;
  height:37px;
  color:#FFFFFF;
}
#u167_img.mouseOver {
}
#u167.mouseOver {
}
#u168 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u169 {
  position:absolute;
  left:290px;
  top:0px;
  width:150px;
  height:37px;
  color:#FFFFFF;
}
#u169_img.mouseOver {
}
#u169.mouseOver {
}
#u170 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:37px;
  width:170px;
  height:135px;
  visibility:hidden;
}
#u171_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:141px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:140px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
  text-align:left;
}
#u173_img.mouseOver {
}
#u173.mouseOver {
}
#u174 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u175 {
  position:absolute;
  left:0px;
  top:43px;
  width:170px;
  height:43px;
  text-align:left;
}
#u175_img.mouseOver {
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u177 {
  position:absolute;
  left:0px;
  top:86px;
  width:170px;
  height:49px;
  text-align:left;
}
#u177_img.mouseOver {
}
#u177.mouseOver {
}
#u178 {
  position:absolute;
  left:8px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:100px;
  top:21px;
  width:115px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:949px;
  top:17px;
  width:151px;
  height:37px;
}
#u181_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:157px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  color:#FFFFFF;
}
#u183_img.mouseOver {
}
#u183.mouseOver {
}
#u184 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
