body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(229, 57, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u137 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:252px;
  top:17px;
  width:440px;
  height:37px;
}
#u138_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:446px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:42px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  color:#FFFFFF;
}
#u140_img.mouseOver {
}
#u140.mouseOver {
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u142 {
  position:absolute;
  left:160px;
  top:0px;
  width:130px;
  height:37px;
  color:#FFFFFF;
}
#u142_img.mouseOver {
}
#u142.mouseOver {
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u144 {
  position:absolute;
  left:290px;
  top:0px;
  width:150px;
  height:37px;
  color:#FFFFFF;
}
#u144_img.mouseOver {
}
#u144.mouseOver {
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:0px;
  top:37px;
  width:170px;
  height:135px;
  visibility:hidden;
}
#u146_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:141px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:140px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
  text-align:left;
}
#u148_img.mouseOver {
}
#u148.mouseOver {
}
#u149 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u150 {
  position:absolute;
  left:0px;
  top:43px;
  width:170px;
  height:43px;
  text-align:left;
}
#u150_img.mouseOver {
}
#u150.mouseOver {
}
#u151 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u152 {
  position:absolute;
  left:0px;
  top:86px;
  width:170px;
  height:49px;
  text-align:left;
}
#u152_img.mouseOver {
}
#u152.mouseOver {
}
#u153 {
  position:absolute;
  left:8px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:100px;
  top:21px;
  width:115px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:949px;
  top:17px;
  width:151px;
  height:37px;
}
#u156_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:157px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  color:#FFFFFF;
}
#u158_img.mouseOver {
}
#u158.mouseOver {
}
#u159 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
