body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(229, 57, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u203 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:252px;
  top:17px;
  width:440px;
  height:37px;
}
#u204_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:446px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:42px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  color:#FFFFFF;
}
#u206_img.mouseOver {
}
#u206.mouseOver {
}
#u207 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u208 {
  position:absolute;
  left:160px;
  top:0px;
  width:130px;
  height:37px;
  color:#FFFFFF;
}
#u208_img.mouseOver {
}
#u208.mouseOver {
}
#u209 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u210 {
  position:absolute;
  left:290px;
  top:0px;
  width:150px;
  height:37px;
  color:#FFFFFF;
}
#u210_img.mouseOver {
}
#u210.mouseOver {
}
#u211 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:0px;
  top:37px;
  width:170px;
  height:135px;
  visibility:hidden;
}
#u212_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:141px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:140px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
  text-align:left;
}
#u214_img.mouseOver {
}
#u214.mouseOver {
}
#u215 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u216 {
  position:absolute;
  left:0px;
  top:43px;
  width:170px;
  height:43px;
  text-align:left;
}
#u216_img.mouseOver {
}
#u216.mouseOver {
}
#u217 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u218 {
  position:absolute;
  left:0px;
  top:86px;
  width:170px;
  height:49px;
  text-align:left;
}
#u218_img.mouseOver {
}
#u218.mouseOver {
}
#u219 {
  position:absolute;
  left:8px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u220 {
  position:absolute;
  left:100px;
  top:21px;
  width:115px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:949px;
  top:17px;
  width:151px;
  height:37px;
}
#u222_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:157px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  color:#FFFFFF;
}
#u224_img.mouseOver {
}
#u224.mouseOver {
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
