body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(229, 57, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u194 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:252px;
  top:17px;
  width:440px;
  height:37px;
}
#u195_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:446px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:42px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  color:#FFFFFF;
}
#u197_img.mouseOver {
}
#u197.mouseOver {
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u199 {
  position:absolute;
  left:160px;
  top:0px;
  width:130px;
  height:37px;
  color:#FFFFFF;
}
#u199_img.mouseOver {
}
#u199.mouseOver {
}
#u200 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u201 {
  position:absolute;
  left:290px;
  top:0px;
  width:150px;
  height:37px;
  color:#FFFFFF;
}
#u201_img.mouseOver {
}
#u201.mouseOver {
}
#u202 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:0px;
  top:37px;
  width:170px;
  height:135px;
  visibility:hidden;
}
#u203_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:141px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:140px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
  text-align:left;
}
#u205_img.mouseOver {
}
#u205.mouseOver {
}
#u206 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:43px;
}
#u207 {
  position:absolute;
  left:0px;
  top:43px;
  width:170px;
  height:43px;
  text-align:left;
}
#u207_img.mouseOver {
}
#u207.mouseOver {
}
#u208 {
  position:absolute;
  left:8px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u209 {
  position:absolute;
  left:0px;
  top:86px;
  width:170px;
  height:49px;
  text-align:left;
}
#u209_img.mouseOver {
}
#u209.mouseOver {
}
#u210 {
  position:absolute;
  left:8px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:100px;
  top:21px;
  width:115px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:949px;
  top:17px;
  width:151px;
  height:37px;
}
#u213_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:157px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  color:#FFFFFF;
}
#u215_img.mouseOver {
}
#u215.mouseOver {
}
#u216 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
